<tr>
	<%= form_tag order_path(record), class: "form-inline", method: :patch, remote: true, id: "form_order-#{record.id}" do %>
		<div class="print_selector">
			<div class="checkbox">
				<%= check_box_tag 'orders[]', record.id %>
			</div>
		</div>
		<div class="number">
			<div class="form-group">
				<%= text_field_tag "record[number]", record.number %>
			</div>
		</div>
		<div class="full_name">
			<div class="form-group">
				<%= text_field_tag "record[full_name]", record.full_name %>
			</div>
		</div>
		<div class="street">
                        <div class="form-group">
                                <%= text_field_tag "record[street]", record.street %>
                        </div>
                </div>
		<div class="street2">
                        <div class="form-group">
                                <%= text_field_tag "record[street2]", record.street2 %>
                        </div>
                </div>
		<div class="city">
                        <div class="form-group">
                                <%= text_field_tag "record[city]", record.city %>
                        </div>
                </div>
		<div class="state">
                        <div class="form-group">
                                <%= text_field_tag "record[state]", record.state %>
                        </div>
                </div>
		<div class="zip_number">
                        <div class="form-group">
                                <%= text_field_tag "record[zip_number]", record.zip_number %>
                        </div>
                </div>
		<div class="country">
                        <div class="form-group">
                                <%= text_field_tag "record[country]", record.country %>
                        </div>
                </div>
		
		<div class="actions">
			<div class="form-group">
                                <%= link_to t(:"mark_as_#{record.printed ? "unprinted" : "printed"), toggle_printed_order(record), class: "btn btn-#{record.printed ? "primary" : "warning"}" %>
				<%= submit_tag t(:save), class: "btn btn-success save_button" %>                                
			</div>
		</div>
	<% end %>
</tr>
