<div class="tag_box droppable" style="width: <%= cell_width %>%;height: <%= row_height %>px;">
	<% if record %>
		<div class="order_box draggable" data-width="<%= current_user.cell_width %>cm" data-height="<%= current_user.cell_height %>cm">
			<%= tag_box_html(record) %>
		</div>
	<% end %>
</div>
