<div class="container header_order_table">
	<%= link_to t(:pendings), root_path, class: "link #{'active' if !params[:all]}" %>
	<%= link_to t(:all), root_path(all: true), class: "link #{'active' if params[:all]}" %>
</div>
<div class="content_box">	
	<% if @records.any? %>
		<%= form_tag preview_tags_path do %>	
			<table class="order_table">
				<thead>	<tr>
					<td class="checkbox_all mark_all"><%= check_box_tag t(:mark_all) %></td>
					<td><%= Order.human_attribute_name(:number) %></td>
					<td><%= Order.human_attribute_name(:full_name) %></td>
					<td><%= Order.human_attribute_name(:street) %></td>
					<td><%= Order.human_attribute_name(:street2) %></td>
					<td><%= Order.human_attribute_name(:city) %></td>
					<td><%= Order.human_attribute_name(:state) %></td>
					<td><%= Order.human_attribute_name(:zip_number) %></td>
					<td><%= Order.human_attribute_name(:country) %></td>
					<td> </td>
				</tr></thead>
				<% @records.each do |record| %>
					<%= render 'record_list', record: record %>
				<% end %>
			</table>
			<%= submit_tag t(:preview), class: "btn btn-success" %>
		<% end %>
	<% end %>
</div>

