<div class="container header_order_table">
	<div class="row">
		<% new_params = !params[:edition] ? {edition: true} : {} %>
		<% new_params.merge!({not_all: true}) if !session[:all] %>
		<% new_params.merge!({all: true}) if session[:all] %>
		<div class="col-lg-10">
			<%= link_to t(:"#{params[:edition] ? "list" : "edition"}_mode"), root_path(new_params), class: "link" %>
		</div>
		<div class="col-lg-2">
			<div class="content  pull-right">
				<%= link_to t(:pendings), root_path(not_all: false), class: "link #{'active' if !session[:all]}" %>
				<%= link_to t(:all), root_path(all: true), class: "link #{'active' if session[:all]}" %>
			</div>
		</div>
	</div>
</div>
<div class="content_box container <%= params[:edition] ? "edition" : "list" %>_mode">	
	<% if @records.any? %>
		<div class="order_table">
			<div class="orders_header">
				<span class="checkbox_all mark_all"><%= check_box_tag t(:mark_all), 1, all_selected?(@records) %></span>
				<span><%= Order.human_attribute_name(:number) %></span>
				<span><%= Order.human_attribute_name(:full_name) %></span>
				<span class="just_edition_mode"><%= Order.human_attribute_name(:street) %></span>
				<span class="just_edition_mode"><%= Order.human_attribute_name(:street2) %></span>
				<span class="just_edition_mode"><%= Order.human_attribute_name(:city) %></span>
				<span class="just_edition_mode"><%= Order.human_attribute_name(:state) %></span>
				<span class="just_edition_mode"><%= Order.human_attribute_name(:zip_number) %></span>
				<span class="just_edition_mode"><%= Order.human_attribute_name(:country) %></span>
			</div>
			<% @records.each do |record| %>
				<%= render 'record_list', record: record %>
			<% end %>
			</table>
			<%= form_tag preview_tags_path, class: "preview_form" do %>	
				<% @records.each do |record| %>				
					<%= content_tag :div, check_box_tag("orders[]", record.id, record.prepared?, id: "orders_#{record.id}"), class: "checkbox hidden" %>
				<% end %>
				
				<%= submit_tag t(:preview), class: "btn btn-success" %>
			<% end %>
		</table>
	<% end %>
</div>

